<div align="left">

    <div class="container">
        <div class="row g-3">
            <div class="col-sm-6">
                <div class="card p-3">
                    <div class="card-body">
                        <h5 class="card-title">LinkedIn</h5>
                        <p class="card-text">For job offers. Also here you can find my job experience.</p>
                        <a class="text-black" href="https://www.linkedin.com/in/maxim-usatenko-02771a180/">Maxim Usatenko</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card p-3">
                    <div class="card-body">
                        <h5 class="card-title">E-mail</h5>
                        <p class="card-text">For job offers and other business ideas.</p>
                        <a class="text-black" href="mailto:maxim.usat7@gmail.com">maxim.usat7@gmail.com</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card p-3">
                    <div class="card-body">
                        <h5 class="card-title">GitHub</h5>
                        <p class="card-text">My own projects and contributions.</p>
                        <a class="text-black" href="https://github.com/MMaximus111/">MMaximus111</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card p-3">
                    <div class="card-body">
                        <h5 class="card-title">Telegram</h5>
                        <p class="card-text">Write me here only if I know you.</p>
                        <a class="text-black" href="https://t.me/kot_na_mazde">kot_na_mazde</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
   
</div>