@{
    ViewData["Title"] = "Maxim Usatenko";
}

<div>
    <h5>Professional profile</h5>
    <p>Hello! I'm Maxim Usatenko, .NET developer from Ukraine.</p>
    <p>
        Full stack .NET developer with devops skills. Full cycle development of ERP systems, site backend and business automation. Experienced in microservice development and design, migration from IIS to Docker. Really enjoying architecture patterns and high performance solutions. Worked with .NET core from 2.1 to .NET 6. I am able to code refactoring and reviewing.
    </p>

    <ul>
        <li>
            <div style="text-align: left">
                <div class="fw-bolder">General</div>

                <text>
                    Behind my back is the experience of building reliable and fault-tolerant systems in C#. I prefer to develop exactly what suits a particular business with an individual approach. Monolith or microservices - I make any choice solely on actual needs, and not on fashionable technologies.

                    Basically, my work is on the side of the backend with the ASP.NET core framework, but there is also experience in building client applications in WPF.

                    I have experience in administering servers, setting up pipelines in CI/CD, setting up logging and monitoring for services.
                </text>
            </div>
        </li>

        <li>
            <div style="text-align: left">
                <div class="fw-bolder">Service communication</div>

                <text>
                    I have a lot of experience in service communication.
                    I mainly focus on the rest architecture, but if necessary,
                    I have WebSockets in my arsenal, represented by the SignalR framework.
                    I also have knowledge of building services on gRPC for high performance serialization and convinient contracts.
                    Named pipes for cross process communication in Windows.
                </text>
            </div>
        </li>

        <li>
            <div class="fw-bolder">Databases</div>

            <ul>
                <li>
                    <div style="text-align: left">
                        <strong>MySQL</strong>
                        <div>
                            For a medium-sized project with a low load, I prefer to use the MySQL as a reliable solution that has been tested by time.
                            A large community and ease of use speeds up startup time and is an ideal choice for medium projects.
                        </div>
                        <div>&nbsp;</div>
                    </div>
                </li>
                <li>
                    <div style="text-align: left">
                        <div class="fw-bold">PostgreSQL</div>
                        <div>
                            The best choice for larger projects with medium to high workloads.
                            a large set of functions, data types and good optimization for high loads make PostgreSQL the best choice among open source solutions.
                        </div>
                        <div>&nbsp;</div>
                    </div>

                </li>
                <li>
                    <div style="text-align: left">
                        <div class="fw-bold">Redis</div>
                        <div>
                            &nbsp;Сan you imagine a modern high-load project without caching? Me not. For me, the best caching tool is Redis.
                            Maximum performance due to writing in C and good memory optimization leave all competitors far behind. Convenient invalidation setting helps to keep data always up to date.
                            I recommend.
                        </div>
                    </div>
                </li>
            </ul>
        </li>
        <li>
            <div style="text-align: left">
                <div class="fw-bolder">Tech stack</div>

                <text>
                    C#, .NET, ASP.NET core, REST, SignalR, gRPC, Dapper, EF core, xUnit, Serilog, ElasticSearch, WPF, AWS (EC2, Lambda)
                </text>
            </div>
        </li>
        <li>
            <div style="text-align: left">
                <div class="fw-bolder">Tools</div>

                <text>
                    Rider IDE, VS Code, DotMemory, DataGrip, Postman, Fiddler, TeamCity, SourceTree, Docker, Bash, Portainer, JIRA, Grafana, Artillery.io
                </text>
            </div>
        </li>
        <li>
            <div style="text-align: left">
                <div class="fw-bolder">Operation systems</div>

                <text>
                    Windows 10, Ubuntu 22.04 Server, Ubuntu 22.04 Desktop
                </text>
            </div>
        </li>
        <li>
            <div class="fw-bolder">Articles</div>

            <ul>
                <li>
                    <div style="text-align: left">
                        <a class="text-black" href="https://dou.ua/forums/topic/34826/">Code without bugs</a>
                    </div>
                </li>
                <li>
                    <div style="text-align: left">
                        <a class="text-black" href="https://dou.ua/forums/topic/35755/">gRPC in .NET</a>
                    </div>

                </li>
            </ul>
        </li>
        <li>
            <div class="fw-bolder">Additional education</div>

            <ul>
                <li>
                    <div style="text-align: left">
                        <text>SoloLearn online C# course (2017)</text>
                    </div>
                </li>
                <li>
                    <div style="text-align: left">
                        <text>Hillel course “C# elementary” (2018)</text>
                    </div>
                </li>
                <li>
                    <div style="text-align: left">
                        <text>Jeffrey Richter’s book “CLR via C#” (2018)</text>
                    </div>
                </li>
                <li>
                    <div style="text-align: left">
                        <text>Herbert Schildt’s book “C# 4 ” (2018)</text>
                    </div>
                </li>
                <li>
                    <div style="text-align: left">
                        <text>Sitecore ASP.NET course (2019)</text>
                    </div>
                </li>
                <li>
                    <div style="text-align: left">
                        <text> Hillel coure “Front-end basic” (2019)</text>
                    </div>
                </li>
                <li>
                    <div style="text-align: left">
                        <text>Freeman’s book “Pro Entity Framework core 2 for ASP.NET core MVC” (2019)</text>
                    </div>
                </li>
                <li>
                    <div style="text-align: left">
                        <text>Martin Fowler’s book “Enterprise Patterns” (2020)</text>
                    </div>
                </li>
                <li>
                    <div style="text-align: left">
                        <text>Hillel course “DevOps” (2021)</text>
                    </div>
                </li>
                <li>
                    <div style="text-align: left">
                        <text>
                            Youtube channel “Nick Chapsas” (2022)
                        </text>
                    </div>
                </li>
            </ul>
        </li>
    </ul>
</div>